
/*
     FILE ARCHIVED ON 18:50:44 Oct 23, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:56:14 Jul 11, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.591
  exclusion.robots: 0.059
  exclusion.robots.policy: 0.042
  esindex: 0.013
  cdx.remote: 14.186
  LoadShardBlock: 260.155 (3)
  PetaboxLoader3.datanode: 161.59 (5)
  PetaboxLoader3.resolve: 144.351 (2)
  load_resource: 133.09
  loaddict: 30.338
*/